.resetdesp{
    font-size: 12px;
}
.resetpassword{
    padding: 10px 70px;

}
/* .resetpasswordform{
    display:flex;
    align-items: flex-end;
    
} */

.resetpasswordform{
    width:40%;
}
.resetpasswordbutton{
    display: inline-block;
    border-radius: 1px;
    padding: 0.3rem 0;
    /* margin-bottom: 1rem; */
    width: 9rem;
    background-color: black;
    color:white;
    border: 3px solid black;
    font-size: 10px;
    margin-top: 10px;
    /* margin-left: 20px; */
    align-self: center;
    
    
    
}