
.passwordform{
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    margin:auto;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
   
   width: 50%;
}
.updatepasswordtext{
    margin-top: 5px;
    font-size: 30px;
}
.continueshop{
    /* display: inline-block;
    border-radius: 1px;
    padding: 0.3rem 0;
    margin-bottom: 1rem;
    width: 8rem;
    
    color:white;
    border: 2px solid black;
    font-size: 11px; */

    display: inline-block;
    border-radius: 1px;
    padding: 0.3rem 0;
    /* margin-bottom: 1rem; */
    width: 9rem;
    background-color: black;
    color:white;
    border: 2px solid black;
    font-size: 13px;
    /* margin-top: 10px; */
    
}
.cart1{
    margin-left: 30px;
    margin-top: 20px;
}
.accountbutton{
    display: inline-block;
    border-radius: 1px;
    padding: 0.3rem 0;
    margin-bottom: 0.5rem;
    width: 9rem;
    background-color: black;
    color:white;
    border: 2px solid black;
    font-size: 13px;
    margin-top: 10px;

}
.passwordupdtmsg{
    font-size: 16px;
    margin: 0 0 10px 0;
    color:rgb(17, 228, 17);
    
}