.offertext {
  font-family: "Fredoka", sans-serif;

  padding: 2px;
  font-size: 10px;
}
div.scrolling-limit{
  
    background-color:rgba(252, 185, 92, 0.8) ;
    
    overflow:hidden;
    white-space:nowrap;
    
  }
  
  div.scrolling{
      /* text-shadow: 0.5px 0.5px black;
    color:white; */
    color:rgb(255, 255, 255);
    position: relative;
    -webkit-animation: scroll 20s infinite linear;;
    -moz-animation: scroll 20s infinite linear;
    -o-animation: scroll 20s infinite linear;
    animation: scroll 20s infinite linear;
  }
  
  @keyframes scroll{
      0%   {left: 500px;}
      100% {left: -950px;}
  }
  @-webkit-keyframes scroll{
      0%   {left: 500px;}
      100% {left: -950px;}
  }
